* {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: cursive;
    /*display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;*/
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

body, html {
    height: 100%;
  }
  
body { 
    /* The image used */
    background-image: url("images/20211016_174920_2.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-size: 100%;
  }
  
  h1 {
    font-size: 4em;
  }
  
  h2 {
    font-size: 3em;
  }
  
  ul {
    font-size: 2em;
  }