h1 {
    text-align: center;
    font-family: Helvetica;
    /*display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;*/
    color: white;
}

ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }

body, html {
    height: 100%;
  }
  
body { 
    /* The image used */
    background-image: url("images/IMG_3172\ copy.jpeg");
    
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-size: 100%;
  }
  
  h1 {
    font-size: 4em;
  }
  
  h2 {
    font-size: 3em;
  }
  
  ul {
    font-size: 2em;
  }